<div class="bfos_opcoes_parcelamento">
<table class="table table-condensed js_resumida">
    <tr>
        {% for i in 1..colunas %}
            <th>Parcelas</th>
            <th>Valor Parcela</th>
            <th>Juros</th>
        {% endfor %}
    </tr>
{% for parcela,opcao in opcoesParcelamento %}
    {% if loop.index % colunas == 1 %}
    <tr>
    {% endif %}
    <td>
        {{ opcao.parcelas }}x iguais
    </td>
    <td>
        R$ {{ opcao.valor|number_format(2,',', '.') }}
    </td>
    <td>
        {% if opcao.juros is defined %}
            {{ opcao.juros }}
        {% else %}
            sem juros
        {% endif %}

    </td>
    {% if loop.index % colunas == 0 %}
    </tr>
    {% endif %}
{% endfor %}
</table>
{% if mostrarLinkVerTudo == true %}
    <table class="table table-condensed js_completa" style="display: none;">
        <tr class="">
            {% for i in 1..colunas %}
                <th>Parcelas</th>
                <th>Valor Parcela</th>
                <th>Juros</th>
            {% endfor %}
        </tr>
        {% for parcela,opcao in opcoesParcelamentoOriginais %}
            {% if loop.index % colunas == 1 %}
                <tr>
            {% endif %}
            <td>
                {{ opcao.parcelas }}x iguais
            </td>
            <td>
                R$ {{ opcao.valor|number_format(2,',', '.') }}
            </td>
            <td>
                {% if opcao.juros is defined %}
                    {{ opcao.juros }}
                {% else %}
                    sem juros
                {% endif %}

            </td>
            {% if loop.index % colunas == 0 %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <a href="#" class="btn btn-small js_bfos_ver_todas_opcoes_parcelamento">{{ 'Ver todas opções de parcelamento'|trans }}</a>
    {#<a href="#" class="btn btn-small js_bfos_ver_todas_opcoes_parcelamento">{{ 'Ver todas opções de parcelamento'|trans }}</a>#}
    {%  include 'BFOSPagamentoBundle::opcoesParcelamento_js.html.twig' %}
{% endif %}
</div>